[variables]
NIXPACKS_UV_VERSION = "0.4.29"

[phases.setup]
paths = ["/opt/venv/bin"]

[phases.install]
cmds = [
  "python -m venv --copies /opt/venv",
  "/opt/venv/bin/python -m pip install --upgrade pip",
  "/opt/venv/bin/pip install uv==0.4.29",
  "/opt/venv/bin/uv export --format requirements-txt --output-file requirements.txt",
  "/opt/venv/bin/uv pip install -r requirements.txt"
]
dependsOn = ["setup"]

[phases.build]
cmds = [
  "/opt/venv/bin/uv run python manage.py tailwind install",
  "/opt/venv/bin/uv run python manage.py tailwind build",
  "/opt/venv/bin/uv run python manage.py collectstatic --noinput"
]

[start]
cmd = '/opt/venv/bin/gunicorn setup.wsgi:application --bind 0.0.0.0:$PORT'
