@import "tokens";
@import "mixins";
@import "utilities";
@import "components";
@import "layout";

body {
  background: $bg;
  color: $text;
  font-family: 'Inter', system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}